<%- include('partials/header')-%>
    <div class="center">
        <div class="container my-container">
            <h1><%= name %>'s favs </h1>
            <form action="/round1" method="post">
                
            </form>
        </div>
    </div>
    <%- include('partials/footer')-%>