<%- include('partials/header')-%>
    <div class="center">
        <div class="container my-container">
            <h1>Login page</h1>
            <div class="forms container">
                <form action="/" method="post">
                    <p>
                        <label for="name"><i class="fa-solid fa-user fa-2x"></i>: </label>
                        <input type="text" name="name" id="name" placeholder="Name" required autofocus
                            style="width: 200px;" autocomplete="off">
                    </p>
                    <button type="submit" class="btn btn-primary"> Get started <i class="fa-solid fa-rocket"></i></button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer')-%>